/* /////// Overall layout /////// */
:root {
  --first-color: white;
  --second-color: #f1f0f0;
  --purple: #5c1182;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  font-family: Helvetica, Arial;
  height: 100%;
  background-color: #e9e8e8;
}

/* Form page 2- Delivery */
.page-color {
  background-color: #e9e8e8;
}

.form-container {
  background-color: white;
  max-width: 570px;
  margin: auto;
  box-shadow: 0 4.1px 8.2px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.18);
  text-align: center;
  margin-bottom: 30px;
}

.formDelivery-container {
  background-color: white;
  max-width: 570px;
  margin: auto;
  box-shadow: 0 4.1px 8.2px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.18);
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  height: auto;
  width: auto;
  max-height: 7.3rem;
  width: 140px;
  padding-top: 0.6rem;
}

.steps {
  color: #888b8d;
  font-size: 16px;
  padding: 1.3rem;
  background-color: #f4f4f4;
  border-bottom: 1px solid #e9e8e8;
  border-top: 1px solid #e9e8e8;
  width: 100%;
}

.steps h3 {
  display: inline-block;
  font-weight: 500;
  font-size: 0.85rem;
}

.stp+.stp {
  margin-left: 13%;
}

.active {
  color: red;
}

#formDelivery-title {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 20px;
}

.form-group input {
  display: block;
  padding: 1.3rem 1.2rem;
  font-size: 0.9rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid #e4e3e3;
  border-radius: 2px;
}

.form-group input[type="number"] {
  margin-right: -6px;
}

#town {
  margin-left: 7px;
}

.form-group {
  position: relative;
  font-size: 15px;
}

.form-group.small {
  width: 33%;
  display: inline-block;
}

.form-group.medium {
  width: 65%;
  display: inline-block;
}

.form-control {
  transition: 0.3s;
  color: #161616;
}

.form-control:invalid {
  outline: none;
}

.form-control:focus,
.form-control:valid {
  outline: none;
}

.form-control:focus+.form-label,
.form-control:valid+.form-label {
  font-size: 12px;
  color: #5c1182;
  opacity: 1;
  top: -7px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 35px;
  transition: top 0.4s ease, opacity 0.4s ease;
  background-color: white;
  z-index: 10;
}

.form-control-town:focus+.form-label,
.form-control-town:valid+.form-label {
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 26px;
}

.form-label {
  position: absolute;
  z-index: 1;
  top: 19px;
  transition: 0.3s;
  margin: 0;
  left: 0;
  padding-left: 30px;
}

.form-label-town {
  margin: 0;
  left: 0;
  padding-left: 18px;
}

.onToThePayment-btn {
  background-color: #5c1182;
  display: block;
  width: 67%;
  padding: 1rem 2rem;
  margin: 0 auto;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  padding-left: 4px;
}

.onToThePayment-btn a {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
}

.return {
  color: #888b8d;
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin-top: 20px;
  border-bottom: 1px #888b8d solid;
}

#form-footer-title {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 700;
  color: #161616;
  margin-top: 50px;
}

#form-footer-p {
  font-size: 0.8rem;
  line-height: 1.7;
  margin: 0 0 2rem;
  color: #161616;
  padding: 10px;
}

#form-footer-subtitle {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 700;
  color: #161616;
  margin-bottom: 10px;
}

.fa-lg {
  font-size: 1em;
  margin-left: 4px;
  margin-top: 3.5px;
  position: absolute;
  transform: rotate(90deg);
}

#formDelivery-footer-title {
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: 700;
  color: #161616;
  margin-top: 50px;
}

#formDelivery-footer-p {
  font-size: 0.8rem;
  line-height: 1.7;
  margin: 0 0 2rem;
  color: #161616;
  padding-right: 25px;
  padding-left: 25px;
  text-align: left;
}

#formDelivery-footer-subtitle {
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: 700;
  color: #161616;
  margin-bottom: 10px;
}

.payment {
  margin-bottom: 50px;
}

/* FOOTER */
#index-footer {
  background-color: #fff;
  padding: 25px;
}

.sect h4 {
  margin: 0 0 1.2rem;
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: 800;
}

.sect p,
.sect ul {
  font-size: 0.75rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.sect p a {
  color: #888b8d;
}

.sect ul {
  list-style: none;
}

#sect2-info ul {
  display: inline-block;
}

#info {
  width: 144px;
}

#time {
  width: 144px;
}

/* Form page 1- Kurv */
span.left {
  float: left;
  margin-left: 5em;
}

span.right {
  float: right;
  margin-right: 5em;
}

.rating span {
  padding: 1em;
}

#thistotal {
  margin-top: 10em;
}

.oneGroup {
  display: inline;
}

#totalPrice {
  color: #f36;
  font-weight: 700;
  font-size: 2em;
}

.rabat {
  color: #f36;
}

.purple {
  color: var(--purple);
}

.KurvHeadings {
  font-size: 1.3em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.subscriptionselect {
  padding: 1em;
  border-radius: 4%;
  width: 40%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5em;
  background-color: white;
  border-style: solid;
  border-width: 0.1em;
  border-color: #888b8d;
  cursor: pointer;
}

.active2 {
  border-color: var(--purple);
}

#actfitJ {
  width: 20%;
}

/* Form page 2- Kurv */

#size+#size {
  margin-left: 10%;
}

.dd {
  width: 50px;
}

.OneRow {
  display: block;
  text-align: left;
  border: 1px solid #e9e8e8;
  border-style: solid;
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
  margin-bottom: 1em;
}

.rightimg {
  float: right;
}

.oneCheck {
  display: block;
  text-align: left;
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
}

#BasketSUM {
  border: 2px solid var(--purple);
  margin-left: 5em;
  padding: 1em;
  margin-right: 5em;
  margin-bottom: 2em;
  border-radius: 5px;
}

#finalkurv {
  color: var(--purple);
}

a.blibblob {
  color: #888b8d;
}

#jacketmag {
  width: 40%;
}


/* ////////  Media  ///////*/

@media (min-width: 437px) {
  #index-footer {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  .sect {
    margin: 0 auto;
    width: 160px;
    margin-left: 25px;
    margin-right: 25px;
  }

  #info {
    width: auto;
  }

  #time {
    width: auto;
  }

  #paymentmMthod {
    width: 181px;
  }
}

@media (min-width: 441px) {
  .logo {
    width: 215px;
    padding-top: 1.6rem;
  }

  .steps {
    padding: 1rem;
  }

  .steps h3 {
    font-size: 0.85rem;
  }

  .stp+.stp {
    margin-left: 20%;
  }

  #formDelivery-title {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (min-width: 500px) {

  .form-control:focus+.form-label,
  .form-control:valid+.form-label {
    margin-left: 38px;
  }

  .form-control-town:focus+.form-label,
  .form-control-town:valid+.form-label {
    margin-left: 26px;
  }

  .form-label {
    padding-left: 36px;
  }

  .form-label-town {
    padding-left: 18px;
  }
}

@media (min-width: 530px) {
  .sect {
    width: 200px;
  }
}

@media (min-width: 600px) {
  .logo {
    width: 215px;
    padding-top: 1.6rem;
  }

  .steps {
    padding: 1rem;
  }

  .steps h3 {
    font-size: 0.85rem;
  }

  .stp+.stp {
    margin-left: 20%;
  }

  #formDelivery-title {
    text-align: center;
    padding-bottom: 20px;
  }

  .form-group input {
    padding: 1.2rem 1.2rem;
    width: 75%;
  }

  .form-group input[type="number"] {
    width: 67%;
  }

  #town {
    width: 80%;
  }

  .form-control:focus+.form-label,
  .form-control:valid+.form-label {
    margin-left: 90px;
  }

  .form-control-town:focus+.form-label,
  .form-control-town:valid+.form-label {
    margin-left: 26px;
  }

  .form-label {
    padding-left: 80px;
  }

  .form-label-town {
    padding-left: 18px;
  }
}

@media (min-width: 650px) {
  .sect {
    width: 260px;
  }
}

@media (min-width: 750px) {
  .onToThePayment-btn {
    width: 47%;
  }

  .sect {
    width: 310px;
  }
}

@media (min-width: 850px) {
  .sect {
    width: 360px;
  }
}

@media (min-width: 920px) {
  .sect {
    width: 410px;
  }
}

@media (min-width: 992px) {
  #index-footer {
    grid-template-columns: auto auto auto auto;
  }

  .sect {
    width: 180px;
  }
}

@media (min-width: 1080px) {
  .sect {
    width: 250px;
  }
}

main {
  max-width: 1350px;
  margin: 0 auto;
  font-size: 0.8em;
}

.section1 {
  background-color: var(--first-color);
  padding: 1em;
  padding-top: 1em;
  margin-bottom: 5em;
  line-height: 1.5;
}

.section1 .title {
  font-size: 1.4em;
}

@media all and (min-width:480px) {
  .section1 .title {
    font-size: 2em;
  }
}

.section1 p.see-more,
.section1 p.price {
  font-weight: bold;
  font-size: 0.9em;
}

.section1 .more-info {
  display: none;
}

.section1 ul.info-list,
.section3 ul.info-list,
.section4 ul.info-list {
  list-style: none;
}

.section1 ul.info-list img {
  width: 20px;
  margin-right: 10px;
}

.section3 ul.info-list img,
.section4 ul.info-list img {
  width: 20px;
  margin-right: 10px;
}

.section1 ul.info-list,
.section1 .price,
.section1 .see-more {
  margin-bottom: 1em;
}


.section1 .video {
  width: 100%;
  display: block;
  margin: auto;
}

.section2 {
  padding-bottom: 1em;
}

.section2 h2.title {
  font-size: 1.5em;
  padding: 0.2em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.section2 article img {
  width: 100%;
}

.section2 article img:hover {
  transform: scale(1.05);
  transition: transform .6s ease;
}

.section2 article .card-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
  background-color: var(--first-color);
  padding: 1em;
}

.section2 article .basic-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.section2 article .basic-info .product-name {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.section2 article .other-details .price-details {
  margin-bottom: 2em;
}

.section2 article .basic-info .sale {
  color: red;
  font-weight: bold;
}

.section2 article .other-details .price-details .price {
  font-size: 1.5em;
  color: red;
  font-weight: bold;
}

.section2 article .other-details .price-details .porto {
  font-size: 0.8em;
  opacity: 0.6;
}

.section2 article .other-details {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.section2 article .other-details button.see-details {
  width: 100%;
  margin-left: auto;
}

.section2 a {
  color: var(--purple);
  text-decoration: none;
  font-size: 0.9em;
  padding: 1em;
}

.section2 a:hover {
  text-decoration: none;
}

.section2 a:active {
  text-decoration: none;
}

.section2 a:visited {
  text-decoration: none;
}

.section3 {
  padding: 1em;
  font-size: 0.9em;
  line-height: 1.5;
  padding-bottom: 3em;
}

.section3 .subhead {
  font-size: 1.1em;
  font-weight: bold;
}

.section3 img {
  width: 100%;
}

.section4 {
  padding: 1em;
  font-size: 0.9em;
  line-height: 1.5;
  padding-bottom: 1.5em;
}

.section5 img {
  width: 100%;
}

.section5 .rating {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section5 .testimonials-slider {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.purple-btn {
  border: none;
  background-color: var(--purple);
  color: white;
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 2px;
  height: 35px;
  font-weight: bold;
}

@media all and (min-width: 750px) {
  .section1 {
    display: flex;
  }

  .section1 .title {
    font-size: 2em;
  }

  .section2 .all-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .section2 .all-cards article {
    flex-basis: 40%;
    margin-left: 2em;
  }

  .section3 img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .section5 .client-ratings {
    display: flex;
  }
}

@media all and (min-width:1000px) {
  .section2 .all-cards {
    display: flex;
    flex-direction: row;
  }

  .section2 .all-cards article {
    flex-basis: 30%;
  }
}

/* trrrrrrrrrrrrrrrrrrrrrrrrr */

.control-label {
  /* color: #423e3d;
  font-weight: bold; */
  transition: color 300ms ease;
}

.control-requirements {
  /* background: pink;
  border-top: none; */
  /* margin: -14px 0 15px; */
  /* margin: -14px 267 15px; */
  max-height: 0;
  overflow: hidden;
  transition: all 200ms ease;
  /* padding: 0 9px; */
}

.control-input {
  /* border-radius: 3px; */
  box-shadow: 0 1px 3px rgba(197, 193, 192, 0) inset;
  color: #6d6665;
  /* margin: 0.8em 0; */
  border: 1px solid #c5c1c0;
  /* padding: 0.6em 0.6em; */
  transition: box-shadow 300ms ease-out;
}

.control-input:invalid:not(:focus):not(:placeholder-shown) {
  border-color: red;
}

.control-input:invalid:not(:focus):not(:placeholder-shown)+.control-label {
  font-size: 12px;
  color: #5c1182;
  opacity: 1;
  top: -7px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 90px;
  transition: top 0.4s ease, opacity 0.4s ease;
  background-color: white;
  z-index: 10;
}

.control-input:invalid:not(:focus):not(:placeholder-shown)+.control-label+.control-requirements {
  max-height: 100px;
  /* padding: 9px;
  border: 1px solid red; */
  margin-left: -291px;
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.control-input:valid:not(:focus):not(:placeholder-shown) {
  border-color: #5fa550;
}

.control-input:valid:not(:focus):not(:placeholder-shown)+.control-label {
  color: #5fa550;
}

.control-requirements-email,
.control-input-email {
  order: -1;
}

.control-label-email {
  order: -2;
}

/* .ControlInput--password {
  order: 0;
  padding-right: 50px;
}

.Control-label--password {
  order: -1;
  margin-bottom: -32px;
}

.Control-label--showPassword {
  width: 32px;
  position: relative;
  top: 52px;
  left: 100%;
  text-align: right;
  margin-left: -36px;
} */

/* Header - Slider - Top page content */

header {
  max-width: 1350px;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #fff;
  position: relative;
  z-index: 999;
}

#logo {
  display: block;
  margin: 0 auto 1em auto;
  height: 55px;
}

.dropbtn {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 1.2em;
  padding: 0px 0px 15.5px 20px;
  font-size: 1rem;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  min-width: 350px;
  z-index: 200;
  font-size: 1.2rem;
}

.dropdown-content a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a i {
  position: absolute;
  right: 25px;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#campaign-slider {
  height: 35rem;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.menu-links {
  border-bottom: 1px solid #e9e8e8;
}

.fa-check-circle {
  color: #5c1182;
}

.check-items {
  list-style-type: none;
  color: #5c1182;
  font-size: 1.1rem;
  margin-right: 5rem;
}

#site-usps {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e9e8e8;
  padding-top: 15px;
}

#campaign-header-mobile {
  background-color: #E9E8E7;
  display: flex;
  align-items: center;
  justify-content: center;
}

#campaign-header-mobile h1 {
  font-weight: 400;
  margin-bottom: 0;
}

#campaign-header-mobile h1 strong {
  font-weight: 700;
}

#campaign-content {
  position: relative;
  max-height: 650px;
}

#campaign-content ul {
  list-style-type: none;
}

#campaign-content ul li {
  padding-top: 10px;
}

#campaign-content ul li i {
  color: #dd1f3d;
}

#campaign-content h1 i {
  color: #f36;
}

#campaign-content h1 {
  font-weight: 400;
}

#rating {
  position: relative;
  display: none;
}

#rating span {
  color: #ffca00;
  font-size: 26px;
}

#rating p {
  font-size: 13px;
}

#rating a {
  font-size: 1.1rem;
}

#rating-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rating-mobile span {
  color: #ffca00;
  font-size: 26px;
}

#mobile-rating-p {
  font-size: 13px;
  text-align: center;
  padding-right: 11.7em;
  margin: 0;
}

#rating-mobile a {
  font-size: 1.1rem;
  margin-left: 1em;
  margin-top: 0.2em;
}

#campaign-cta {
  position: relative;
}

#campaign-cta button {
  border: none;
  cursor: pointer;
  padding: 15px 80px;
  font-size: 1.2rem;
  background-color: #5c1182;
  color: #fff;
  font-weight: 700;
}

#campaign-cta button:hover {
  filter: brightness(75%);
}

#campaign-cta h1 {
  color: #f36;
  font-weight: 700;
  font-size: 2rem;
}

#campaign-cta h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #f36;
}

#campaign-cta p {
  font-weight: 500;
  color: #888b8d;
  font-size: 0.8rem;
}

#offer {
  width: 50%;
  position: relative;
}

#offer img {
  width: 6rem;
  position: absolute;
}

.offer-item:first-child {
  transform: rotate(0) translateY(8px);
  z-index: 120;
}

.offer-item:nth-child(2) {
  transform: rotate(5deg) translateX(10px) scale(.95);
  z-index: 110;
}

.offer-item:nth-child(3) {
  transform: rotate(-5deg) translateX(-10px) scale(.95);
  z-index: 100;
}

.offer-item:nth-child(4) {
  transform: rotate(10deg) translateX(20px) scale(.9);
  z-index: 90;
}

#offer i {
  color: #f36;
  font-size: 2em;
  z-index: 150;
  position: absolute;
}

.offer-item:nth-child(6) {}


@media only screen and (max-width: 522px) {
  .check-items {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 749px) {
  #campaign-content ul {
    width: 90%;
    padding-left: 2em;
    padding-top: 2em;
  }

  #bottom-container {
    display: table;
    margin: 3em auto 0;
  }

  #offer {
    margin-left: 0.8em;
  }

  #offer i {
    left: 3.5em;
    top: 1.5em;
  }

  .offer-item:nth-child(6) {
    left: 8em;
    top: 1.2em;
  }

  #campaign-cta {
    padding-top: 9em;
  }

  #campaign-cta h1 {
    position: absolute;
    bottom: 2.2em;
  }

  #campaign-cta h2 {
    margin-left: 8.3em;
  }

  #campaign-cta p {
    margin-left: 1.8em;
  }
}

@media only screen and (max-width: 850px) {
  #campaign-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 19px;
  }

  #campaign-slider {
    width: 100%;
  }

  #campaign-content {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown {
    display: none;
  }
}

@media screen and (min-width: 749px) and (max-width: 1189px) {
  #campaign-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
  }

  #top-container {
    width: 40%;
  }

  #bottom-container {
    margin-top: 1em;
  }

  #campaign-content ul {
    width: 100%;
    padding: 0;
  }

  #offer {
    margin-left: 0.8em;
  }

  #offer i {
    left: 3.5em;
    top: 1.5em;
  }

  .offer-item:nth-child(6) {
    left: 8em;
    top: 1.2em;
  }

  #campaign-cta {
    padding-top: 9em;
  }

  #campaign-cta h1 {
    position: absolute;
    bottom: 2.2em;
  }

  #campaign-cta h2 {
    margin-left: 8.3em;
  }

  #campaign-cta p {
    margin-left: 1.8em;
  }
}

@media screen and (min-width: 993px) and (max-width: 1189px) {
  .dropbtn {
    padding-bottom: 15.5px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1189px) {
  #campaign-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 19px;
  }

  #campaign-slider {
    margin: 0 auto;
    width: 700px;
  }

  #campaign-content {
    margin: 2em auto 0 auto;
    width: 700px;
  }
}

@media only screen and (max-width: 1189px) {
  #campaign-content-header {
    display: none;
  }

  #campaign-content {
    padding-bottom: 4em;
  }
}

@media only screen and (min-width: 1189px) {
  #campaign-header-mobile {
    display: none;
  }

  #campaign-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1350px;
    margin: 0 auto;
  }

  #campaign-slider {
    width: 50%;
    overflow: hidden;
  }

  #bottom-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2em;
  }

  #campaign-content {
    width: 50%;
    height: auto;
    background-color: #f4f4f4;
    padding: 50px 50px 200px;
  }

  #campaign-content-header {
    margin: 0;
  }

  #campaign-content ul {
    padding-left: 0em;
    padding-top: 1em;
  }

  #rating {
    margin-left: 1.2em;
  }

  #rating span {}

  #rating a {
    position: absolute;
    left: 8em;
    top: 0.5em;
  }

  #rating p {
    font-size: 13px;
    margin: 0 0 0 2.3em;
  }

  #campaign-cta h1 {
    position: absolute;
    bottom: 1.8em;
  }

  #campaign-cta h2 {
    margin-left: 7.8em;
    margin-bottom: 0.5em;
  }

  #campaign-cta {
    margin-top: 2.4em;
  }

  #campaign-cta p {
    position: absolute;
    right: 0;
    margin-top: 0.5em;
  }

  #offer {
    top: 1em;
  }

  #offer i {
    left: 3.5em;
    top: 1.5em;
  }

  .offer-item:nth-child(6) {
    left: 8em;
    top: 1.2em;
  }

  #rating-mobile {
    display: none;
  }

  #mobile-rating-p {
    display: none;
  }

  #rating {
    display: block;
  }
}