/* /////// Overall layout /////// */
:root {
  --first-color: white;
  --second-color: #f1f0f0;
  --purple: #5c1182;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Helvetica, Arial;
  height: 100%;
}

.front-page {
  background-color: #e9e8e8;
}

/* Form page 2- Delivery */
.page-color {
  background-color: #e9e8e8;
}

.form-container {
  background-color: white;
  max-width: 570px;
  margin: auto;
  box-shadow: 0 4.1px 8.2px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.18);
  text-align: center;
  margin-bottom: 30px;
}

.formDelivery-container {
  background-color: white;
  max-width: 570px;
  margin: auto;
  box-shadow: 0 4.1px 8.2px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.18);
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  height: auto;
  width: auto;
  max-height: 7.3rem;
  width: 140px;
  padding-top: 0.6rem;
}

.form-container a {
  text-decoration: none;
}
.form-container #info {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 500;
  color: #161616;
  text-decoration: none;
  cursor: pointer;
  width: 50px;
}

.form-container #info img {
  width: 23px;
  top: -5px;
  right: -48px;
  position: relative;
}

.steps {
  color: #888b8d;
  font-size: 16px;
  padding: 1.3rem;
  background-color: #f4f4f4;
  border-bottom: 1px solid #e9e8e8;
  border-top: 1px solid #e9e8e8;
  width: 100%;
}

.steps h3 {
  display: inline-block;
  font-weight: 500;
  font-size: 0.85rem;
}

.stp + .stp {
  margin-left: 13%;
}

.active {
  color: red;
}

#formDelivery-title {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 20px;
}

/*////////// FORM ///////////// */
.form-group input {
  display: block;
  padding: 1.3rem 1.2rem;
  font-size: 0.9rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid #e4e3e3;
  border-radius: 2px;
}

.form-group {
  position: relative;
  font-size: 15px;
}

#town {
  margin-left: 7px;
}

.form-group.small {
  display: inline-block;
  width: 34%;
  margin-left: 11px;
  margin-right: -13px;
}

.form-group.medium {
  width: 65%;
  display: inline-block;
}

.form-control {
  transition: 0.3s;
  color: #161616;
}

.form-control:invalid {
  outline: none;
}

.form-control:focus,
.form-control:valid {
  outline: none;
}
/* title-up valid, focus */
.form-control:focus + .form-label,
.form-control:valid + .form-label {
  font-size: 12px;
  color: #5c1182;
  opacity: 1;
  top: -7px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 35px;
  transition: top 0.4s ease, opacity 0.4s ease;
  background-color: white;
  z-index: 10;
}

.form-control-town:focus + .form-label,
.form-control-town:valid + .form-label {
  margin-left: 26px;
}

.form-control-zip:focus + .form-label,
.form-control-zip:valid + .form-label {
  margin-left: 20px;
}
/* Text -inside */
.form-label {
  position: absolute;
  z-index: 1;
  top: 19px;
  transition: 0.3s;
  margin: 0;
  left: 0;
  padding-left: 30px;
}

.form-label-town {
  margin: 0;
  left: 0;
  padding-left: 18px;
}

.form-label-zip {
  padding-left: 19px;
}

/* ///////////VALITATION START ////////*/
/* error message */
.control-requirements {
  max-height: 0;
  overflow: hidden;
  transition: all 200ms ease;
  position: absolute;
  top: 61px;
  padding-left: 18px;
}

.control-requirements-zip {
  padding-left: 6px;
  text-align: left;
  width: 115px;
}
.control-requirements-town {
  padding-left: 8px;
}

/* Input invalid -box */
.form-control:invalid:not(:focus):not(:placeholder-shown) {
  border-color: red;
  margin-bottom: 40px;
}

/* Title-up -invalid */
.form-control:invalid:not(:focus):not(:placeholder-shown) + .form-label {
  font-size: 12px;
  color: #5c1182;
  opacity: 1;
  top: -7px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 35px;
  transition: top 0.4s ease, opacity 0.4s ease;
  background-color: white;
  z-index: 10;
}

.form-control-zip:invalid:not(:focus):not(:placeholder-shown) + .form-label-zip {
  margin-left: 20px;
}

.form-control-town:invalid:not(:focus):not(:placeholder-shown) + .form-label-town {
  margin-left: 26px;
}

/* Invalid- message */
.form-control:invalid:not(:focus):not(:placeholder-shown) + .form-label + .control-requirements {
  max-height: 100px;
  color: red;
  font-size: 12px;
}

/* Valid -input -box */
.form-control:valid:not(:focus):not(:placeholder-shown) {
  border-color: #97be0c;
}

input:invalid:not(:placeholder-shown):not(:focus) {
  background-position-x: 96%;
  background-position-y: 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url(img/exclamation-mark.png);
}

input:valid:not(:placeholder-shown):not(:focus) {
  background-position-x: 96%;
  background-position-y: 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url(img/verified.png);
}

/* ///////////VALITATION END ////////*/

.onToThePayment-btn {
  background-color: #5c1182;
  display: block;
  width: 67%;
  padding: 1rem 2rem;
  margin: 0 auto;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  padding-left: 4px;
  cursor: pointer;
}

.onToThePayment-btn a {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}

.return {
  color: #888b8d;
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin-top: 20px;
  border-bottom: 1px #888b8d solid;
  margin-bottom: 30px;
  cursor: pointer;
}

hr {
  border-top: 0.1px solid #8080809c;
}

#form-footer-p {
  font-size: 0.8rem;
  line-height: 1.7;
  margin: 0 0 2rem;
  color: #161616;
  padding: 10px;
}

#form-footer-subtitle {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 700;
  color: #161616;
  margin-bottom: 10px;
  margin-top: 50px;
}

.fa-lg {
  font-size: 1em;
  margin-left: 4px;
  margin-top: 3.5px;
  position: absolute;
  transform: rotate(90deg);
}

#formDelivery-footer-title {
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: 700;
  color: #161616;
  margin-top: 50px;
}

#formDelivery-footer-p {
  font-size: 0.8rem;
  line-height: 1.7;
  margin: 0 0 2rem;
  color: #161616;
  padding-right: 25px;
  padding-left: 25px;
  text-align: left;
}

#formDelivery-footer-subtitle {
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: 700;
  color: #161616;
  margin-bottom: 10px;
}

.payment {
  margin-bottom: 50px;
}

/* FOOTER */
#index-footer {
  background-color: #fff;
  padding: 25px;
}

.sect h4 {
  margin: 0 0 1.2rem;
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: 800;
}

.sect p,
.sect ul {
  font-size: 0.75rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.sect p a {
  color: #888b8d;
}

.sect ul {
  list-style: none;
}

#sect2-info ul {
  display: inline-block;
}

#info {
  width: 144px;
}

#time {
  width: 144px;
}

/* Form page 1- Kurv */
span.left {
  float: left;
  margin-left: 5em;
}

span.right {
  float: right;
  margin-right: 5em;
}

.rating span {
  padding: 1em;
}

#thistotal {
  margin-top: 10em;
}

.oneGroup {
  display: inline;
}

#totalPrice {
  color: #f36;
  font-weight: 700;
  font-size: 2em;
}

.rabat {
  color: #f36;
}

.purple {
  color: var(--purple);
}

.KurvHeadings {
  font-size: 1.3em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.subscriptionselect {
  padding: 1em;
  border-radius: 4%;
  width: 40%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5em;
  background-color: white;
  border-style: solid;
  border-width: 0.1em;
  border-color: #888b8d;
  cursor: pointer;
}

.active2 {
  border-color: var(--purple);
}

#actfitJ {
  width: 20%;
}

/* Form page 1- Kurv */

#size + #size {
  margin-left: 10%;
}

.dd {
  width: 50px;
}

.OneRow {
  display: block;
  text-align: left;
  border: 1px solid #e9e8e8;
  border-style: solid;
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
  margin-bottom: 1em;
}

.rightimg {
  float: right;
}

.oneCheck {
  display: block;
  text-align: left;
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
}

#BasketSUM {
  border: 2px solid var(--purple);
  margin-left: 5em;
  padding: 1em;
  margin-right: 5em;
  margin-bottom: 2em;
  border-radius: 5px;
}

#finalkurv {
  color: var(--purple);
}

a.blibblob {
  color: #888b8d;
}

#jacketmag {
  width: 40%;
}

/* Radio */
.OneRow input[type="radio"] {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  /*margin-right: 8px;
  margin-left: 46px;*/
  position: relative;
  width: 18px;
  -webkit-appearance: none;
  border: 2px solid rgb(155, 154, 154);
}

.OneRow input[type="radio"]:checked:after {
  background-color: #1be21b;
  border-radius: 25px;
  content: "";
  display: block;
  height: 6px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 6px;
}

.OneRow input[type="radio"]:checked:after {
  background-color: #1be21b;
  transition: all 1s;
}

/*** custom checkboxes from codepen https://codepen.io/jamesbarnett/pen/yILjk?editors=1100&fbclid=IwAR3h8mvilt3ZX2N8KcpBrvcJhK36t7eP3_N1Jwv1C1d-6F8fiY4GgNiKy0s***/

.oneCheck input[type="checkbox"] {
  display: none;
}

/* to hide the checkbox itself */
.oneCheck input[type="checkbox"] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.oneCheck input[type="checkbox"] + label:before {
  content: "\f096";
}

/* unchecked icon */
.oneCheck input[type="checkbox"] + label:before {
  letter-spacing: 10px;
}

/* space between checkbox and label */

.oneCheck input[type="checkbox"]:checked + label:before {
  content: "\f046";
}

/* checked icon */
.oneCheck input[type="checkbox"]:checked + label:before {
  letter-spacing: 5px;
}

/* allow space for check mark */

/* ////////  Media  ///////*/
@media (min-width: 400px) {
  .control-requirements {
    padding-left: 20px;
  }
  .control-requirements-zip {
    padding-left: 6px;
  }
  .control-requirements-town {
    padding-left: 8px;
  }
}

@media (min-width: 437px) {
  #index-footer {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  .sect {
    margin: 0 auto;
    width: 160px;
    margin-left: 25px;
    margin-right: 25px;
  }

  #info {
    width: auto;
  }

  #time {
    width: auto;
  }

  #paymentmMthod {
    width: 181px;
  }
}

@media (min-width: 441px) {
  .logo {
    width: 215px;
    padding-top: 1.6rem;
  }

  .steps {
    padding: 1rem;
  }

  .steps h3 {
    font-size: 0.85rem;
  }

  .stp + .stp {
    margin-left: 20%;
  }

  #formDelivery-title {
    text-align: center;
    padding-bottom: 20px;
  }

  .form-container #info img {
    top: -14px;
  }
}

@media (min-width: 450px) {
  .control-requirements {
    padding-left: 23px;
  }
  .control-requirements-zip {
    padding-left: 6px;
  }
  .control-requirements-town {
    padding-left: 8px;
  }
}

@media (min-width: 500px) {
  .form-control:focus + .form-label,
  .form-control:valid + .form-label {
    margin-left: 35px;
  }

  .form-control-zip:focus + .form-label-zip,
  .form-control-zip:valid + .form-label-zip {
    margin-left: 20px;
  }

  .form-control-town:focus + .form-label-town,
  .form-control-town:valid + .form-label-town {
    margin-left: 26px;
  }

  .form-label {
    padding-left: 36px;
  }

  .form-label-town {
    padding-left: 18px;
  }
}

@media (min-width: 530px) {
  .sect {
    width: 200px;
  }
}

@media (min-width: 550px) {
  .control-requirements {
    padding-left: 27px;
  }
  .control-requirements-zip {
    padding-left: 11px;
  }
  .control-requirements-town {
    padding-left: 8px;
  }
}

@media (min-width: 600px) {
  .logo {
    width: 215px;
    padding-top: 1.6rem;
  }

  .steps {
    padding: 1rem;
  }

  .steps h3 {
    font-size: 0.85rem;
  }

  .stp + .stp {
    margin-left: 20%;
  }

  #formDelivery-title {
    text-align: center;
    padding-bottom: 20px;
  }

  .form-group input {
    padding: 1.2rem 1.2rem;
    width: 75%;
  }

  #town {
    margin-left: auto;
  }
  /* Text-up -focus */
  .form-control:focus + .form-label,
  .form-control:valid + .form-label {
    margin-left: 90px;
  }

  .form-control-town:focus + .form-label,
  .form-control-town:valid + .form-label {
    margin-left: 70px;
  }

  .form-control-zip:focus + .form-label,
  .form-control-zip:valid + .form-label {
    margin-left: 45px;
  }

  .form-label {
    padding-left: 80px;
  }

  .form-label-zip {
    padding-left: 35px;
  }

  .form-label-town {
    margin-left: -20px;
  }

  /* Error text */
  .control-requirements {
    padding-left: 71px;
  }
  .control-requirements-zip {
    padding-left: 25px;
  }
  .control-requirements-town {
    padding-left: 50px;
  }

  /* Title-up -invalid */
  .form-control:invalid:not(:focus):not(:placeholder-shown) + .form-label {
    margin-left: 90px;
  }
  .form-control-town:invalid:not(:focus):not(:placeholder-shown) + .form-label-town {
    margin-left: 70px;
  }
  .form-control-zip:invalid:not(:focus):not(:placeholder-shown) + .form-label-zip {
    margin-left: 45px;
  }

  .form-group.small {
    margin-left: 21px;
    margin-right: -70px;
  }
}

@media (min-width: 650px) {
  .sect {
    width: 260px;
  }
}

@media (min-width: 750px) {
  .onToThePayment-btn {
    width: 47%;
  }

  .sect {
    width: 310px;
  }
}

@media (min-width: 850px) {
  .sect {
    width: 360px;
  }
}

@media (min-width: 920px) {
  .sect {
    width: 410px;
  }
}

@media (min-width: 992px) {
  #index-footer {
    grid-template-columns: auto auto auto auto;
  }

  .sect {
    width: 180px;
  }
}

@media (min-width: 1080px) {
  .sect {
    width: 250px;
  }
}

main {
  max-width: 1350px;
  margin: 0 auto;
  font-size: 0.8em;
}

.section1 {
  background-color: var(--first-color);
  padding: 1em;
  padding-top: 1em;
  line-height: 1.5;
}

.section1 .title {
  font-size: 1.4em;
}

@media all and (min-width: 480px) {
  .section1 .title {
    font-size: 2em;
  }

  main {
    font-size: 1em;
  }
}

.section1 p.see-more,
.section1 p.price {
  font-weight: bold;
  font-size: 0.9em;
}

.section1 .more-info {
  display: none;
}

.section1 ul.info-list,
.section3 ul.info-list,
.section4 ul.info-list {
  list-style: none;
}

.section1 ul.info-list img {
  width: 20px;
  margin-right: 10px;
}

.section3 ul.info-list img,
.section4 ul.info-list img {
  width: 20px;
  margin-right: 10px;
}

.section1 ul.info-list,
.section1 .price,
.section1 .see-more {
  margin-bottom: 1em;
}

.section1 .video {
  width: 100%;
  display: block;
  margin: auto;
}

.section2 {
  padding-top: 5em;
  padding-bottom: 1em;
  background-color: var(--second-color);
}

.section2 h2.title {
  font-size: 1.5em;
  padding: 0.2em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.section2 article img {
  width: 100%;
}

.hover-effect {
  transform: scale(1.05);
  transition: transform 0.6s ease;
}

.section2 article .card-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
  background-color: var(--first-color);
  padding: 1em;
}

.section2 article .basic-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.section2 article .basic-info .product-name {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.section2 article .other-details .price-details {
  margin-bottom: 2em;
}

.section2 article .basic-info .sale {
  color: #f36;
  font-weight: bold;
}

.section2 article .other-details .price-details .price {
  font-size: 1.5em;
  color: #f36;
  font-weight: bold;
}

.section2 article .other-details .price-details .porto {
  font-size: 0.8em;
  opacity: 0.6;
}

.section2 article .other-details {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.section2 article .other-details button.see-details {
  width: 100%;
  margin-left: auto;
}

.section2 .section2-link {
  text-align: right;
}

.section2 .section2-link a {
  color: var(--purple);
  text-decoration: none;
  font-size: 1.1em;
  padding: 1em;
}

.section2 a:hover {
  text-decoration: underline;
}

.section2 a:active {
  text-decoration: none;
}

.section2 a:visited {
  text-decoration: none;
}

.section3 {
  padding: 2em;
  padding-top: 3em;
  font-size: 0.9em;
  padding-bottom: 5em;
  background-color: var(--first-color);
}

.section3 .subhead {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.section3 ul.info-list img {
  display: inline-block;
}

.section3 img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.section4 {
  padding: 1em;
  font-size: 0.9em;
  line-height: 1.5;
  bottom: 0;
  background-color: var(--second-color);
}

.section4 .info-list {
  margin-bottom: 2em;
}

.section4 img {
  margin-top: 2em;
  width: 100%;
}

.section5 {
  background-color: var(--first-color);
  padding-top: 4em;
  padding-bottom: 5em;
}

.section5 .rating {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section5 img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section5 .client-ratings {
  text-align: center;
}

.section5 .client-ratings .rating-section5 {
  margin-bottom: 2em;
}

.section5 .client-ratings .rating-section5 h2 {
  color: var(--purple);
  font-size: 1.7em;
}

.section5 .client-ratings .rating-section5 p {
  opacity: 0.5;
  width: 150px;
  margin: auto;
}

.section5 .client-ratings .rating-section5 .stars-rating img {
  display: inline-block;
  width: 20px;
}

.section5 .testimonials-section .testimonials .customer {
  display: none;
}

.section5 .testimonials-section {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.section5 .testimonials-section img {
  width: 30px;
  margin-top: 6em;
}

.testimonials .customer {
  font-size: 1.2em;
}

.testimonials .customer .comment {
  color: rgb(151, 149, 149);
  line-height: 1.3;
}

.testimonials .customer .name {
  font-weight: bold;
  margin-top: 2em;
}

.section2 article button,
.sticky-product .product-add button {
  border: none;
  background-color: var(--purple);
  color: white;
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 2px;
  height: 35px;
  font-weight: bold;
}

.hide {
  display: none;
}

.sticky-product {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 80px;
  width: 100%;
  background-color: var(--second-color);
}

.sticky-product .product-add {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1em;
  align-items: center;
  justify-content: space-evenly;
}

.sticky-product .product-add img {
  display: none;
}

@media all and (min-width: 745px) {
  .sticky-product {
    height: 150px;
  }
  .sticky-product .product-add {
    width: 50%;
  }

  .sticky-product .product-add .product-name {
    font-size: 1.7em;
  }

  .sticky-product .product-add img {
    display: block;
  }

  .section1 {
    padding: 2em;
  }

  .section-wrapper {
    display: flex;
    width: 90%;
    margin: auto;
  }

  .section1 .video {
    height: 230px;
  }

  .section1 .title {
    font-size: 2em;
  }

  .section2 .all-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .section2 .all-cards article {
    flex-basis: 40%;
    overflow: hidden;
    margin-left: 2em;
  }

  .section2 .section2-link {
    padding-right: 3em;
  }

  .section2 article button {
    background-color: var(--second-color);
    color: black;
  }

  .section2 article button:hover {
    background-color: var(--purple);
    color: white;
  }

  .section3 article {
    display: flex;
    flex-direction: row;
  }

  .section3 article .section3-text {
    width: 400px;
  }

  .section3 article img {
    width: 50%;
  }

  .section4 {
    display: grid;
    grid-template-areas: "pic text-area";
    padding: inherit;
  }

  .section4 .section4-wrapper {
    grid-area: text-area;
    padding: 1em;
    width: 70%;
    margin: auto;
    font-size: 1.1em;
    margin-top: 2em;
  }

  .section4 .section4-wrapper .info-list {
    line-height: 2;
  }

  .section4 img {
    grid-area: pic;
    margin-top: inherit;
  }

  .section5 .client-ratings {
    display: flex;
    justify-content: space-evenly;
  }

  .section5 .client-ratings .rating-section5 p {
    margin: inherit;
  }

  .section5 .client-ratings .rating-section5 {
    width: 30%;
    text-align: left;
  }

  .section5 .client-ratings .testimonials-section {
    width: 30%;
  }
}

@media all and (min-width: 1000px) {
  .section2 .all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .section2 .all-cards {
    width: 90%;
    margin: auto;
  }

  .section2 .all-cards article:not(:first-child) {
    margin-left: 2em;
  }

  .section2 h2.title {
    margin-left: 4em;
  }

  .section3 article {
    width: 90%;
    margin: auto;
  }

  .section3 article img {
    width: 40%;
  }
}

/* Header - Slider - Top page content */

.header-index {
  max-width: 1350px;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #fff;
  position: relative;
  z-index: 999;
}

#logo {
  display: block;
  margin: 0 auto 1em auto;
  height: 55px;
}

.dropbtn {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 1.2em;
  padding: 0px 0px 15.5px 20px;
  font-size: 1rem;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  min-width: 350px;
  z-index: 200;
  font-size: 1.2rem;
}

.dropdown-content a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a i {
  position: absolute;
  right: 25px;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#campaign-slider {
  height: 35rem;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.menu-links {
  border-bottom: 1px solid #e9e8e8;
}

.fa-check-circle {
  color: #5c1182;
}

.check-items {
  list-style-type: none;
  color: #5c1182;
  font-size: 1.1rem;
  margin-right: 5rem;
}

#site-usps {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e9e8e8;
  padding-top: 15px;
}

#campaign-header-mobile {
  background-color: #e9e8e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

#campaign-header-mobile h1 {
  font-weight: 400;
  margin-bottom: 0;
}

#campaign-header-mobile h1 strong {
  font-weight: 700;
}

#campaign-content {
  position: relative;
  max-height: 650px;
}

#campaign-content ul {
  list-style-type: none;
}

#campaign-content ul li {
  padding-top: 10px;
}

#campaign-content ul li i {
  color: #dd1f3d;
}

#campaign-content h1 i {
  color: #f36;
}

#campaign-content h1 {
  font-weight: 400;
}

#rating {
  position: relative;
  display: none;
}

#rating span,
.stars-rating {
  color: #ffca00;
  font-size: 26px;
}

#rating p {
  font-size: 13px;
}

#rating a {
  font-size: 1.1rem;
}

#rating-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rating-mobile span {
  color: #ffca00;
  font-size: 26px;
}

#mobile-rating-p {
  font-size: 13px;
  text-align: center;
  padding-right: 11.7em;
  margin: 0;
}

#rating-mobile a {
  font-size: 1.1rem;
  margin-left: 1em;
  margin-top: 0.2em;
}

#campaign-cta {
  position: relative;
}

#campaign-cta button {
  border: none;
  cursor: pointer;
  padding: 15px 80px;
  font-size: 1.2rem;
  background-color: #5c1182;
  color: #fff;
  font-weight: 700;
}

#campaign-cta button:hover {
  filter: brightness(75%);
}

#campaign-cta h1 {
  color: #f36;
  font-weight: 700;
  font-size: 2rem;
}

#campaign-cta h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #f36;
}

#campaign-cta p {
  font-weight: 500;
  color: #888b8d;
  font-size: 0.8rem;
}

#offer {
  width: 50%;
  position: relative;
}

#offer img {
  width: 6rem;
  position: absolute;
}

.offer-item:first-child {
  transform: rotate(0) translateY(8px);
  z-index: 120;
}

.offer-item:nth-child(2) {
  transform: rotate(5deg) translateX(10px) scale(0.95);
  z-index: 110;
}

.offer-item:nth-child(3) {
  transform: rotate(-5deg) translateX(-10px) scale(0.95);
  z-index: 100;
}

.offer-item:nth-child(4) {
  transform: rotate(10deg) translateX(20px) scale(0.9);
  z-index: 90;
}

#offer i {
  color: #f36;
  font-size: 2em;
  z-index: 150;
  position: absolute;
}

@media only screen and (max-width: 522px) {
  .check-items {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 749px) {
  #campaign-content ul {
    width: 90%;
    padding-left: 2em;
    padding-top: 2em;
  }

  #bottom-container {
    display: table;
    margin: 3em auto 0;
  }

  #offer {
    margin-left: 0.8em;
  }

  #offer i {
    left: 3.5em;
    top: 1.5em;
  }

  .offer-item:nth-child(6) {
    left: 8em;
    top: 1.2em;
  }

  #campaign-cta {
    padding-top: 9em;
  }

  #campaign-cta h1 {
    position: absolute;
    bottom: 2.2em;
  }

  #campaign-cta h2 {
    margin-left: 8.3em;
  }

  #campaign-cta p {
    margin-left: 1.8em;
  }
}

@media only screen and (max-width: 850px) {
  #campaign-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 19px;
  }

  #campaign-slider {
    width: 100%;
  }

  #campaign-content {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown {
    display: none;
  }
}

@media screen and (min-width: 749px) and (max-width: 1189px) {
  #campaign-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
  }

  #top-container {
    width: 40%;
  }

  #bottom-container {
    margin-top: 1em;
  }

  #campaign-content ul {
    width: 100%;
    padding: 0;
  }

  #offer {
    margin-left: 0.8em;
  }

  #offer i {
    left: 3.5em;
    top: 1.5em;
  }

  .offer-item:nth-child(6) {
    left: 8em;
    top: 1.2em;
  }

  #campaign-cta {
    padding-top: 9em;
  }

  #campaign-cta h1 {
    position: absolute;
    bottom: 2.2em;
  }

  #campaign-cta h2 {
    margin-left: 8.3em;
  }

  #campaign-cta p {
    margin-left: 1.8em;
  }
}

@media screen and (min-width: 993px) and (max-width: 1189px) {
  .dropbtn {
    padding-bottom: 15.5px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1189px) {
  #campaign-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 19px;
  }

  #campaign-slider {
    margin: 0 auto;
    width: 700px;
  }

  #campaign-content {
    margin: 2em auto 0 auto;
    width: 700px;
  }
}

@media only screen and (max-width: 1189px) {
  #campaign-content-header {
    display: none;
  }

  #campaign-content {
    padding-bottom: 4em;
  }
}

@media only screen and (min-width: 1189px) {
  #campaign-header-mobile {
    display: none;
  }

  #campaign-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1350px;
    margin: 0 auto;
  }

  #campaign-slider {
    width: 50%;
    overflow: hidden;
  }

  #bottom-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2em;
  }

  #campaign-content {
    width: 50%;
    height: auto;
    background-color: #f4f4f4;
    padding: 50px 50px 200px;
  }

  #campaign-content-header {
    margin: 0;
  }

  #campaign-content ul {
    padding-left: 0em;
    padding-top: 1em;
  }

  #rating {
    margin-left: 1.2em;
  }

  #rating a {
    position: absolute;
    left: 8em;
    top: 0.5em;
  }

  #rating p {
    font-size: 13px;
    margin: 0 0 0 2.3em;
  }

  #campaign-cta h1 {
    position: absolute;
    bottom: 1.8em;
  }

  #campaign-cta h2 {
    margin-left: 7.8em;
    margin-bottom: 0.5em;
  }

  #campaign-cta {
    margin-top: 2.4em;
  }

  #campaign-cta p {
    position: absolute;
    right: 0;
    margin-top: 0.5em;
  }

  #offer {
    top: 1em;
  }

  #offer i {
    left: 3.5em;
    top: 1.5em;
  }

  .offer-item:nth-child(6) {
    left: 8em;
    top: 1.2em;
  }

  #rating-mobile {
    display: none;
  }

  #mobile-rating-p {
    display: none;
  }

  #rating {
    display: block;
  }
}
